@charset "utf-8"; 

/* skip_Navi */
#skipNavi{position:relative;}
#skipNavi a{display:block;position:absolute;left:0;top:-300px;width:300px;text-align:center;color:#fff;background:#000;z-index:200;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* btnTop */
#btnTop, .popBtnTop{display:block;position:absolute;left:50%;top:-75px;width:45px;height:45px;margin-left:-22.5px;background:url(../images/common/btn_top.png) no-repeat;background-size:contain;overflow:hidden;font-size:0;color:transparent;}
.popBtnTop{position:static;margin:55px auto 0;}

/* title */
[class*='tit_h']{position:relative;margin:15px 0 7px;}
.tit_h1{font-size:20px;}
.tit_h2{font-size:18px;}
.tit_h3{font-size:17px;margin-top:24px;}
.tit_h4{font-size:15px;}
.tit_h5{font-size:14px;}
[class*='tit_h']:first-child,
#pageTit + [class*='tit_h']{margin-top:0;}

.tit_wrap{position:relative;margin:15px 0 7px;}
.tit_wrap:first-child{margin-top:0;}
.tit_wrap:after{content:'';display:block;clear:both;}
.tit_wrap [class*='tit_h']{margin:0;display:inline-block;vertical-align:top;}
.tit_wrap.in-btn [class*='tit_h']{line-height:30px;}
.tit_wrap.in-tip [class*='tit_h']{line-height:25px;}
.tit_wrap.in-tip .btn-tip{float:right;}
.tit_wrap.toggle{margin-left:-15px;margin-right:-15px;padding:0 15px;}
.tit_wrap.toggle [class*='tit_h']{padding-right:25px;}
.tit_wrap.toggle .memo-text{margin-top:3px;}
.tit_wrap .right-text{float:right;color:#555555;}
.tit_wrap .tit_h3 + .right-text{margin-top:5px;}
.tit_wrap .tit_h4 + .right-text{margin-top:3px;}
.hr + .tit_wrap{margin-top:0;}

/* 말줄임 */
[class*='text_line_']{display:block;display:-webkit-box;overflow:hidden;word-wrap:break-word;-webkit-box-orient:vertical;text-overflow:ellipsis;}
.text_line_1{display:block;white-space:nowrap;}
.text_line_2{-webkit-line-clamp:2;}
.text_line_3{-webkit-line-clamp:3;}
.text_line_4{-webkit-line-clamp:4;}
.text_line_5{-webkit-line-clamp:4;}

/* form */
.select,
.textarea,
.input[type="text"],
.input[type="file"],
.input[type="tel"],
.input[type="num"]{-webkit-appearance:none;-webkit-border-radius:0;border-radius:0;background-clip:padding-box;} 
.input[type='date'],
.input[type='month']{background-image:url(../images/ico/ico_datepicker.png);background-repeat:no-repeat;background-position:right center;background-size:auto 18px;}
.input::-ms-clear{display:none;}
.input[type='password']::-ms-reveal{display:none;}
.input[type='search']::-webkit-search-decoration{-webkit-appearance:none;}
.input[type='search']::-webkit-search-cancel-button{display:none;}

.label{display:inline-block}
.input, .textarea, .select{display:inline-block;width:100%;height:40px;line-height:18px;padding:10px;border:1px solid #ccc;background:#fff;-webkit-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;font-size:14px;outline:none;}
.input:focus, .textarea:focus, .select:focus{position:relative;border-color:#4b4b4b;}
.input + .input{border-top:0 none;}
.input[type="file"]{padding:3px;line-height:26px;}
.textarea{min-height:100px;padding:10px;resize:none;line-height:1.4;box-sizing:border-box;background:#fff;}
.select{padding-right:25px;background:#fff url(../images/ico/ico_select.png) no-repeat right center;background-size:auto 7px;font-size:16px;}
.select::-ms-expand{display:none;}
.input.h50,
.select.h50{font-size:18px;height:50px;line-height:28px;}

/* .input[readonly], .select[readonly], .textarea[readonly],
.input.readonly, .select.readonly, .textarea.readonly, */
.select:disabled, .textarea:disabled, .input:disabled{background-color:#e6e6e6 !important;border-color:#e6e6e6 !important;color:#737373 !important;opacity:1;-webkit-text-fill-color:#737373;}
.input.security{background:#faf9e5;}
.input.security{background:#faf9e5;}

::-webkit-input-placeholder{color:#b2b2b2;font-size:14px;}
::-moz-placeholder{color:#b2b2b2;font-size:14px;}
::-ms-input-placeholde{color:#b2b2b2;font-size:14px;}
:-ms-input-placeholder{color:#b2b2b2;font-size:14px;}
.placeholder{color:#b2b2b2;font-size:14px;}
.input.error, .select.error, .textarea.error{border:1px solid #d21651 !important;}
.input.bg_none, .select.bg_none, .textarea.bg_none{background:none;color:#000;}
.input.bg_none{border:0 none;}

.checkbox,
.radio{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;margin-right:15px;}
.checkbox:last-child,
.radio:last-child{margin-right:0;}
.checkbox input,
.radio input{position:absolute;left:0;top:3px;width:12px;height:12px;z-index:1;opacity:0;margin:0;padding:0;}
.checkbox input + i,
.radio input + i{position:relative;top:2px;display:block;float:left;margin:0;width:12px;height:12px;border-radius:2px;overflow:hidden;background:#fff;border:1px solid #808080;border-radius:3px;-webkit-transition:border 0.3s;transition:border 0.3s;/*box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);*/}
.checkbox.type2 input + i,
.radio input + i{border-radius:50%;}
.checkbox input + i:after,
.radio input + i:after{content:'';display:inline-block;position:absolute;-webkit-transition:border 0.3s;transition:border 0.3s;}
.checkbox input + i:after{width:5px;height:3px;top:3px;left:3px;border:1px solid transparent;border-width:0 0 1px 1px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.radio input + i:after{left:50%;top:50%;margin:-3px 0 0 -3px;border:3px solid #fff;border-radius:100%;}
.checkbox .lbl,
.radio .lbl{display:inline-block;line-height:1;font-size:14px;line-height:1.2;word-break:break-all;vertical-align:top;color:#808080;}
.checkbox input + i + .lbl,
.radio input + i + .lbl{display:block;padding-left:5px;margin-left:12px;}
.checkbox .lbl + input,
.radio .lbl + input{left:auto;right:0;}
.checkbox .lbl + input + i,
.radio .lbl + input + i{float:right;margin-left:5px;}
.checkbox input:checked,
.radio input:checked,
.checkbox input:focus,
.radio input:focus{outline:none;}
.checkbox input:hover + i,
.radio input:hover + i,
.checkbox input:focus + i,
.radio input:focus + i{border-color:#bbb;}
.checkbox input:hover + i:after,
.radio input:hover + i:after,
.checkbox input:focus + i:after,
.radio input:focus + i:after{border-color:#bbb;}
.checkbox input:checked + i,
.radio input:checked + i{border-color:#808080;background:#808080;}
.checkbox input:checked + i:after,
.radio input:checked + i:after{border-color:#fff;}
.checkbox input:disabled + i,
.radio input:disabled + i{background:#f1f1f1;}
.checkbox input:disabled + i:after,
.radio input:disabled + i:after{border-color:#f1f1f1;}
/* .checkbox input:checked + i + .lbl,
.radio input:checked + i + .lbl{color:#0098c2;} */

.checkbox.type2.opacity i{border-color:rgba(255,255,255,0.5);background:transparent;}
.checkbox.type2.opacity i:after{border-color:rgba(255,255,255,0.5);}
.checkbox.type2.opacity input:checked + i{border-color:rgba(255,255,255,1);background:#fff;}
.checkbox.type2.opacity input:checked + i:after{border-color:#000;}
.checkbox.type2.opacity .lbl{color:#fff;opacity:0.5;}
.checkbox.type2.opacity input:checked + i + .lbl{opacity:1;}


/*ie*/
/* [type='radio']::-ms-check,
[type='checkbox']::-ms-check{border-radius:50%;color:#fff;background:#fff;font-size:0.875em;}
[type='radio']:checked::-ms-check,
[type='checkbox']:checked::-ms-check{background:#ea1506;}
[type='radio']:disabled::-ms-check,
[type='checkbox']:disabled::-ms-check{background:#bbb;} */

[class*='input_']{position:relative;}
[class*='input_'] + [class*='input_']{margin-top:10px;}
.input_box{overflow:hidden;}
.input_box .input_del{position:absolute;top:50%;right:10px;display:block;width:14px;height:14px;border:0;padding:0;background:url(../images/ico/ico_input_del.png) no-repeat 0 0;background-size:contain;overflow:hidden;font-size:0;text-indent:-9999px;opacity:0;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all 0.1s 0.5s;transition:all 0.1s 0.5s;z-index:-1;}
input:focus + .input_del,
input.focus + .input_del{opacity:1;z-index:1;-webkit-transition-delay:0s;transition-delay:0s;}

.input_wrap{margin-left:-5px;margin-right:-5px;}
.input_wrap:after{content:'';display:block;clear:both;}
.input_wrap > *{display:block;box-sizing:border-box;float:left;padding:0 5px;}

.input_tbl{margin-left:-5px;margin-right:-5px;}
.input_tbl > div{display:table;width:100%;table-layout:fixed;}
.input_tbl > div > *{display:table-cell;/*width:25%;*/padding:0 5px;vertical-align:top;}
.input_tbl > div > .middle{vertical-align:middle;}
.input_tbl.col2 > div > .wid2{width:66.66%;}
.input_tbl.col2 > div > .wid3{width:75%}
.input_tbl.col3 > div > .wid2{width:50%;}
.input_tbl > div > * > .button{width:100%;padding:0;}
.input_flex{display:-webkit-box;display:-webkit-flex;display:flex;}
.input_flex > *{display:block;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.input_flex > .wid2{-webkit-box-flex:2;-webkit-flex:1 200%;flex:1 200%;}
.input_flex > .wid3{-webkit-box-flex:3;-webkit-flex:1 300%;flex:1 300%;}
.input_flex .input,
.input_flex .select{border-right-width:0;}
.input_flex > *:last-child .input,
.input_flex > *:last-child .select{border-right-width:1px;}
.input_flex .button{width:100%;padding:0;}
.input_flex .radio > label,
.input_flex .checkbox > label{margin-right:0 !important;}

.input_add_txt{position:relative;display:table;width:100%;border:1px solid #ccc;}
.input_add_txt > *{display:table-cell;}
.input_add_txt .input{text-align:right;border:0 none;padding-right:0;}
.input_add_txt sub{padding-right:5px;padding-left:3px;width:1em;white-space:nowrap;}

.input_toggle{display:-webkit-box;display:-webkit-flex;display:flex;margin-left:-5px;margin-right:-5px;}
.input_toggle > label{display:block;padding:0 5px;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.input_toggle input{position:absolute;left:5px;top:5px;opacity:0;}
.input_toggle .lbl{position:relative;margin:0;padding:8px 5px;display:block;text-align:center;border:1px solid #ccc;background:#fff;white-space:nowrap;font-size:14px;line-height:22px;color:#4b4b4b;}
.input_toggle .lbl:after{content:'';display:inline-block;width:0;height:12px;margin-right:0;top:-1px;background-image:url(../images/ico/ico_toggle_chk.png);background-size:100% 100%;-webkit-transition:all 0.5s;transition:all 0.5s;}
.input_toggle input:disabled + .lbl{background:#e6e6e6;border-color:#e6e6e6;color:#b2b2b2;}
.input_toggle input[readonly] + .lbl{color:#b2b2b2;}
.input_toggle input:checked + .lbl{border-color:#4b4b4b;color:#4b4b4b;}
.input_toggle input:checked + .lbl:after{width:16px;margin-left:8px;}
.input_toggle.inline{display:block;}
.input_toggle.inline > label{display:inline-block;padding:3px;}
.input_toggle.h50 .lbl{padding:13px 5px;font-size:18px;}
.input_toggle.h30 .lbl{line-height:20px;padding:4px 10px;min-width:38px;}

.input_toggle2{font-size:0;margin-top:30px;}
.input_toggle2 > label{display:inline-block;width:60px;line-height:60px;vertical-align:top;}
.input_toggle2 input{position:absolute;left:5px;top:5px;opacity:0;}
.input_toggle2 .lbl{position:relative;display:block;line-height:60px;text-align:center;white-space:nowrap;font-size:16px;color:#fff;border-radius:50%;transition:all 0.5s;}
.input_toggle2 input:checked + .lbl{background:#fff;color:#404040;box-shadow:3px 3px 10px rgba(0,0,0,0.3);}

/*파일첨부*/
.input_file{position:relative;display:table;width:100%;}
.input_file > span{display:table-cell;}
.input_file .input{width:100%;}
.input_file .btn_file{position:relative;padding-left:6px;width:30px;overflow:hidden;}
.input_file .btn_file > input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;font-size:10em;line-height:2;cursor:pointer;opacity:0;z-index:2;}
.input_file .btn{font-size:14px;}

/* input_email */
.input_email > span{float:left;position:relative;width:50%;box-sizing:border-box;}
.input_email > span:first-child{padding-right:13px;}
.input_email > span:first-child:after{content:'@';position:absolute;top:0;right:-13px;display:inline-block;width:26px;height:40px;line-height:40px;text-align:center;}
.input_email > span+span{padding-left:13px;}
.input_email > div{clear:both;padding-top:10px;}
.input_email:after{content:'';display:block;clear:both;}

/* input_btn */
.input_btn{display:table;width:100%;}
.input_btn > *{display:table-cell;vertical-align:top;}
.input_btn > * input{padding:0 10px;}
.input_btn > *:last-child{width:30px;text-align:right;padding-left:6px;}

/* input_date */
.input_date{position:relative;}
.input_date:after{content:'';display:block;clear:both;}
.input_date > div{position:relative;float:left;width:50%;box-sizing:border-box;padding:0 10px;}
.input_date > div:after{content:'~';display:block;position:absolute;right:-10px;top:0;font-size:14px;width:20px;line-height:40px;text-align:center;}
.input_date > div:first-child{padding-left:0;}
.input_date > div:last-child{padding-right:0;}
.input_date > div:last-child:after{display:none;}

/* switch */
.switch{position:relative;display:inline-block;}
.switch > input{position:absolute;left:0;top:0;width:45px;height:100%;z-index:1;opacity:0;}
.switch > span{display:block;font-size:14px;height:25px;line-height:25px;text-align:left;white-space:nowrap;color:#555;}
.switch > span .on{display:none;color:#e20d3a;}
.switch > span.none{font-size:0 !important;color:transparent !important;}
.switch > span.none:before{margin-right:0 !important;}
.switch > span:before{content:'';display:inline-block;width:45px;height:25px;margin-right:7px;background:#ccc;border-radius:13px;vertical-align:top;-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.25);box-shadow:inset 1px 1px 2px rgba(0,0,0,0.25);-webkit-transition:background 0.2s;transition:background 0.2s;}
.switch > span:after{content:'';display:block;width:23px;height:23px;background:#fff;border-radius:50%;position:absolute;left:0;top:0;margin:1px;-webkit-transition:left 0.2s;transition:left 0.2s;}
.switch > input:checked + span{color:#000;}
.switch > input:checked + span:before{background:#e20d3a;}
.switch > input:checked + span:after{left:20px;}
.switch > input:checked + span .off{display:none;}
.switch > input:checked + span .on{display:inline;}

/* 버튼 */
.btn_wrap{text-align:center;margin-top:60px;font-size:0;
	display:-webkit-box;display:-webkit-flex;display:flex;
	-webkit-box-orient:horizontal;-webkit-flex-direction:row;flex-direction:row;
	-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.form_box + .btn_wrap{margin-top:40px;}
.btn_wrap.left{-webkit-box-pack:left;-webkit-justify-content:flex-start;justify-content:flex-start;}
.btn_wrap.right{-webkit-box-pack:right;-webkit-justify-content:flex-end;justify-content:flex-end;}
.btn_wrap > span{display:block;-webkit-box-flex:1;-webkit-flex:1 100%;flex:1 100%;}
.btn_wrap > span.wid2{-webkit-box-flex:2;-webkit-flex:1 200%;flex:1 200%;}
.btn_wrap > span > .button{display:block;width:100%;padding:0;}
.btn_wrap > span > .radio,
.btn_wrap > span > .checkbox{top:50%;transform:translateY(-50%);}
.btn_wrap > .button{min-width:100px;}
.btn_wrap > .button + .button{margin-left:6px;}
.btn_wrap.fixed{position:fixed;bottom:0;width:100%;left:0;margin:0;z-index:5;background:#fff;;}
.btn_wrap.fixed > span{padding:0;}

.button{position:relative;display:inline-block;border:1px solid #b3b3b3;color:#808080;background:#fff;text-align:center;vertical-align:middle;box-sizing:border-box;cursor:pointer;border-radius:0px;-webkit-appearance:none;padding:0 15px;line-height:38px;font-size:12px;white-space:nowrap;overflow:hidden;}
.button.disabled,
.button:disabled{background:#bbb !important;border-color:#bbb !important;color:#fff !important;cursor:default;}
.button.disabled:before,
.button:disabled:before{display:none !important;}
.button.round{border-radius:30px;}
.button.round2{border-radius:5px;}
.button > .in{position:relative;top:50%;display:block;font-size:0.875em;line-height:1.2;-webkit-transform:translateY(-50%);transform:translateY(-50%);}

.btn_click_in{display:block;position:absolute;background:rgba(0,0,0,0.2);border-radius:100%;-webkit-transform:scale(0);transform:scale(0);}
.btn_click_in.animate{-webkit-animation:btnClickEf 0.65s linear;animation:btnClickEf 0.65s linear;}
@-webkit-keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
@keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}

.button.h36{line-height:34px;}
.button.h33{line-height:31px;padding:0 10px;}
.button.h50{line-height:48px;font-size:18px;padding:0 20px;}

.button.red{background:#e20d3a;border-color:#e20d3a;color:#fff;}
.button.blue{background:#1f719a;border-color:#1f719a;color:#fff;}
.button.black{background:#000000;border-color:#000000;color:#fff;}
.button.gray{background:#404040;border-color:#404040;color:#fff;}
.button.gray2{background:#ebebeb;border-color:#ebebeb;color:#404040;}
.button.gray3{background:none;border-color:#b2b2b2;color:#404040;}
.button.gray4{background:#736e6e;border-color:#736e6e;color:#fff;}
.button.brown {background: #806e5d;border-color: #806e5d;color:#fff;}
.button.gray_navy {background: #747483;border-color: #747483;color:#fff;}
.button.beige {background: #d2a672;border-color: #d2a672;color:#fff;}
.button.skyblue {background: #8bb1bb;border-color: #8bb1bb;color:#fff;}

.btn_toggle{position:relative;display:block;width:100%;padding:0;border:0 none;background:none;text-align:center;overflow:hidden;}
.btn_toggle:after{content:'';display:inline-block;width:15px;height:15px;margin-left:8px;background:url(../images/ico/ico_toggle.png) no-repeat center center;background-size:11px  auto;-webkit-transition:0.3s;transition:0.3s;vertical-align:0;}
.btn_toggle.on:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.btn_link_01{position:absolute;display:block;top:0;right:0;bottom:0;left:0;font-size:0;color:transparent;overflow:hidden;}
.btn_link_01:after{content:'';display:block;width:25px;height:25px;position:absolute;right:15px;top:11px;background:url(../images/ico/ico_link.png) no-repeat center center;background-size:100%;}
.btn_link_02{position:relative;display:inline-block;padding-right:25px;line-height:20px;}
.btn_link_02:after{content:'';display:block;width:20px;height:20px;position:absolute;right:0;top:0;background:url(../images/ico/ico_link.png) no-repeat center center;background-size:100%;}
.button.btn_down{text-align:left;font-size:14px;padding-right:40px;text-overflow:ellipsis;}
.button.btn_down:after{content:'';position:absolute;right:20px;top:50%;width:14px;height:12px;margin-top:-6px;background:url(../images/ico/ico_download_b.png) no-repeat center center;background-size:contain;}
.button.gray.btn_down:after{background-image:url(../images/ico/ico_download_w.png)}

.t_link{position:relative;display:inline-block;font-size:14px;padding-right:12px;line-height:1.1;background:url(../images/ico/ico_link.png) no-repeat right 2px;}
.t_link span{display:inline-block;border-bottom: 1px solid #204f97;color:#204f97;}
.t_link2{display:inline-block;vertical-align:middle;padding-left:17px;font-size:14px;line-height:1.2;margin-right:15px;color:#e20d3a;background:url(../images/ico/ico_link2.png) no-repeat left 3px;background-size:12px 12px;}
.t_link2:last-child{margin-right:0;}

.btn_radio_wrap{font-size:0;}
.btn_radio_lbl{position:relative;display:inline-block;margin:2px;}
.btn_radio_lbl > input{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:1;}
.btn_radio{position:relative;display:inline-block;padding:0 15px;background:#fff;border:1px solid #e5e5e5;line-height:31px;font-size:14px;color:#808080;border-radius:5px;box-sizing:border-box;}
input:checked + .btn_radio,
.btn_radio.on{color:#fff;background:#d95047;border-color:#d95047;}
input:checked + .btn_radio.type2, .btn_radio.type2.on{background:#f77b73;border-color:#f77b73;}
input:checked + .btn_radio.type3, .btn_radio.type3.on{background:#808080;border-color:#808080;}
input:checked + .btn_radio[class*=bg], .btn_radio[class*=bg].on{border:0 none;line-height:33px;padding:0 16px;background-color:transparent;background-repeat:no-repeat;background-position:center center;background-size:cover;}
input:checked + .btn_radio.bg1, .btn_radio.bg1.on{background-image:url(../images/contents/rdo_paint_type1.png);}
input:checked + .btn_radio.bg2, .btn_radio.bg2.on{background-image:url(../images/contents/rdo_paint_type2.png);}
input:checked + .btn_radio.bg3, .btn_radio.bg3.on{background-image:url(../images/contents/rdo_paint_type3.png);}
input:checked + .btn_radio.bg4, .btn_radio.bg4.on{background-image:url(../images/contents/rdo_paint_type4.png);}
input:checked + .btn_radio.bg5, .btn_radio.bg5.on{background-image:url(../images/contents/rdo_paint_type5.png);}
input:checked + .btn_radio.bg6, .btn_radio.bg6.on{background-image:url(../images/contents/rdo_paint_type6.png);}
input:checked + .btn_radio.bg7, .btn_radio.bg7.on{background-image:url(../images/contents/rdo_paint_type7.png);}
input:checked + .btn_radio.bg8, .btn_radio.bg8.on{background-image:url(../images/contents/rdo_paint_type8.png);}
input:checked + .btn_radio.bg9, .btn_radio.bg9.on{background-image:url(../images/contents/rdo_paint_type9.png);}
input:checked + .btn_radio.bg10, .btn_radio.bg10.on{background-image:url(../images/contents/rdo_paint_type10.png);}
input:checked + .btn_radio.bg11, .btn_radio.bg11.on{background-image:url(../images/contents/rdo_paint_type11.png);}
input:checked + .btn_radio.bg12, .btn_radio.bg12.on{background-image:url(../images/contents/rdo_paint_type12.png);}
input:checked + .btn_radio.bg13, .btn_radio.bg13.on{background-image:url(../images/contents/rdo_paint_type13.png);}
input:checked + .btn_radio.bg14, .btn_radio.bg14.on{background-image:url(../images/contents/rdo_paint_type14.png);}

.select_list,
.ui-select{position:relative;display:inline-block;width:100%;border:1px solid #ccc;background:#fff;vertical-align:middle;box-sizing:border-box;font-size:16px;line-height:1.5;text-align:left;}
.ui-select-wrap{display:inline-block;width:100%;}
.ui-select-wrap .ui-select{display:block;}
.select_list.on{z-index:1;}
.select_list a,
.ui-select a{display:block;padding:7px;overflow:hidden;word-break:break-all;}
.select_list > a,
.ui-select > a{position:relative;padding-right:25px;}
.select_list > a:after,
.ui-select > a:after{content:'';display:block;position:absolute;right:5px;top:50%;width:12px;height:7px;margin-top:-3.5px;background:url(../images/ico/ico_select.png) no-repeat left center;background-size:auto 7px;}
.select_list.on > a:after,
.ui-select.on > a:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.select_list a span{float:left;}
.select_list a strong{float:right;}
.select_list ul,
.ui-select ul{display:none;position:absolute;left:-1px;right:-1px;border:1px solid #ccc;top:100%;background:#fff;max-height:154px;overflow-y:auto;overflow-x:hidden;box-sizing:border-box;font-size:0.875em;}
.select_list.on ul,
.ui-select.on ul{display:block;}
.select_list ul a:hover,
.select_list ul a:focus,
.ui-select ul a:hover,
.ui-select ul a:focus{background:#0098c2;color:#fff;}
.select_list ul .selected a,
.ui-select ul .selected a{font-weight:700;}

.fake_select{display:block;position:relative;text-align:center;height:50px;margin:20px 63px 0;}
.fake_select span{display:inline-block;position:relative;padding-right:22px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.fake_select span:after{content:'';display:inline-block;width:12px;height:7px;margin-left:10px;background:url(../images/ico/ico_select2.png) no-repeat;background-size:contain;-webkit-transition:0.3s;transition:0.3s;position:absolute;right:0;top:50%;margin-top:-3.5px;}
.fake_select.on span:after{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.fake_select select{position:absolute;left:0;top:0;width:100%;height:100%;padding:5px;font-size:14px;line-height:30px;border:0 none;background:none;opacity:0;z-index:1;}
.search_wrap + .fake_select{margin-top:-10px;}
.fake_select.top_no_inp {margin-top: 0; padding-top: 20px; box-sizing:initial;}

/* icon */
.ico_txt{display:inline-block;text-align:center;padding:0px 6px;vertical-align:middle;font-style:normal;font-size:12px;line-height:18px;border-radius:2px;color:#fff;background:#4c4c4c;border:1px solid #4c4c4c;}
.ico_txt.green{background:#68ca91;border-color:#68ca91;}
.ico_txt.blue{background:#4d84e1;border-color:#4d84e1;}
.ico_txt.pink{background:#ff6b85;border-color:#ff6b85;}
.ico_txt.orange{background:#ff7f5c;border-color:#ff7f5c;}
.ico_txt.yellow{background:#ff7f5c;border-color:#ff7f5c;}
.ic_num{display:inline-block;font-size:10px;text-align:center;color:#fff;background:#404040;width:16px;line-height:16px;border-radius:50%;vertical-align:middle;}

/* 탭메뉴 */
.tabmenu{border-top:1px solid #f5f5f5;border-bottom:1px solid #dddddd;}
.tabmenu > ul{position:relative;display:table;width:100%;table-layout:fixed;border-collapse:collapse;}
.tabmenu > ul > li{display:table-cell;width:50%;vertical-align:middle;}
.tabmenu > ul > li > a{position:relative;display:block;text-align:center;height:90px;font-weight:bold;color:#b2b2b2;font-size:16px;}
.tabmenu > ul > li > a > span{position:relative;display:inline-block;vertical-align:top;top:50%;line-height:1.2;padding:10px 0;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.tabmenu > ul > li > a > span:after{content:'';display:block;height:2px;position:absolute;left:50%;bottom:0;width:0;background:#404040;}
.tabmenu > ul > li.on > a{color:#404040;}
.tabmenu > ul > li.on > a > span:after{left:0;width:100%;-webkit-animation:tabEf 0.3s linear;animation:tabEf 0.3s linear;}
.tabmenu.swiper-container{border-top:0 none;}
.tabmenu.swiper-container > ul{display:block;height:auto !important;}
.tabmenu.swiper-container > ul > li{display:block;width:auto;padding:0 0 0 30px;}
.tabmenu.swiper-container > ul > li:last-child {padding-right: 30px;}
.tab_wrap.fixed .tabmenu{position:fixed;top:50px;left:0;z-index:10;width:100%;background:rgba(255,255,255,0.8);margin:0;}
.tab_wrap.fixed .tabmenu > ul > li > a{height:50px;}
.inner > .tab_wrap{margin-left:-30px;margin-right:-30px;}
.search_wrap + .tab_wrap{margin-top:-25px;}
@-webkit-keyframes tabEf{
	0%{left:50%;width:0;}
	100%{left:0;width:100%;}
}
@keyframes tabEf{
	0%{left:50%;width:0;}
	100%{left:0;width:100%;}
}

.tab_cont, .rdo_cont, .toggle_cont{display:none;-webkit-animation:fadeIn 1s;animation:fadeIn 1s;}
.tab_cont.on, .rdo_cont.on, .toggle_cont.on{display:block;}

/*table*/
.table {border-top:2px solid #000;border-bottom:1px solid #ccc;word-break:break-all;}
.table th, .table td{border-bottom:1px solid #ececec;text-align:center;padding:13px 10px;}
.table th{color:#666;background:#f6f6f6;}
.table thead th{font-size:16px;font-weight:normal;}
.table tbody th{font-size:16px;font-weight:normal;}
.table tfoot th,
.table tfoot td {border-top:1px solid #ccc;background:#f1f1f1;}
.table .tl{text-align:left;}
.table .tr{text-align:right;}

.table.line th,
.table.line td{border-right:1px solid #ececec;}
.table.line th:last-child,
.table.line td:last-child{border-right:0px;}

.table.left{border-top:0 none;table-layout:fixed;}
.table.left th{text-align:left;padding:13px 30px 13px 40px;}
.table.left td{text-align:left;padding:13px 30px 13px 40px;}
.table.left tr:first-child th,
.table.left tr:first-child td{border-top:2px solid #000;}

.table.hover tbody tr:hover th,
.table.hover tbody tr:hover td{background:#fafafa;}
.table.small th,
.table.small td{font-size:14px;padding:9px 5px;}
.table.small.tbl_left th,
.table.small.tbl_left td{padding-left:26px;}

.table_col{padding:5px 0;}
.table tr > .col_on{position:relative;color:#fff;}
.table tr > .col_on > *{position:relative;}
.table tr > .col_on:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;padding-bottom:1px;background:rgba(208,41,41,0.7);}
.table tr.col-first > .col_on:after,
.table tr.col-last > .col_on:after{content:'';display:block;position:absolute;left:0;width:100%;height:11px;background:rgba(208,41,41,0.7);}
.table tr.col-first > .col_on:after{top:-11px;border-radius:5px 5px 0 0;}
.table tr.col-last > .col_on:after{bottom:-11px;height:10px;border-radius:0 0 5px 5px;}
.table .table_col_box{position:relative;display:block;margin:-13px -5px;padding:13px 5px;}

.tbl_wrap{position:relative;overflow:auto;}
.tbl_wrap th,
.tbl_wrap td{white-space:nowrap;}

/* paging */
.paging {font-family: 'Montserrat';clear:both;margin-top:62px;text-align:center;}
.paging a{display:inline-block;padding: 0 10px;vertical-align: top;font-size: 16px;line-height: 26px;}
.paging .btn span {font-size: 0;display: inline-block; width: 15px; height:16px;background: url(../images/common/paging_fst.png)0 0 no-repeat; background-size: cover;    color: transparent;vertical-align: text-top;}
.paging .btn.btn_fst {padding-left: 0;}
.paging .btn.btn_last {padding-right: 0;}
.paging .btn.btn_prev span {background-image: url(../images/common/paging_prev.png);}
.paging .btn.btn_next span {background-image: url(../images/common/paging_next.png);}
.paging .btn.btn_last span {background-image: url(../images/common/paging_last.png);}
.paging>span {display: inline-block;}
.paging>span a {margin: 0 1px;color:#b2b2b2;}
.paging>span strong {color:#222;font-weight:normal;}

/* loading */
.pre_loading{position:fixed;left:-9999px;top:-9999px;width:0;height:0;z-index:-1;opacity:0;overflow:hidden;}
.pre_loading span{background-repeat:no-repeat;width:0;height:0;}

/* list */
.dot_list{font-size:14px;}
.dot_list > li{position:relative;margin:7px 0;padding-left:11px;}
.dot_list > li:before{content:'';display:block;width:2px;height:2px;position:absolute;left:0px;top:9px;background:#666666;}
.dot_list.f16{font-size:16px;}
.dot_list.f16 > li:before{top:10px;}
.dot_list.type2{padding-top:10px;}
.dot_list.type2 > li{margin:5px 0;}
.dot_list.white> li {color:#fff;}
.dot_list.white> li:before{background:#fff;}

.ui-swiper{position:relative;}
.ui-swiper .swiper-slide img{width:100%;}
.ui-swiper .pagination{position:absolute;left:0;width:100%;height:5px;bottom:10px;text-align:center;z-index:2;}
.ui-swiper .pagination span{display:inline-block;width:5px;height:5px;border-radius:50%;background:#fff;opacity:0.5;margin:0 3px;vertical-align:top;}
.ui-swiper .pagination .swiper-active-switch{opacity:1;}
.ui-swiper .ui-prev,
.ui-swiper .ui-next{display:block;font-size:0;position:absolute;top:0;height:100%;width:30px;background-repeat:no-repeat;background-position:center center;background-size:7px auto;}
.ui-swiper .ui-prev{left:-30px;background-image:url(../images/common/ui-swiper-prev.png);}
.ui-swiper .ui-next{right:-30px;background-image:url(../images/common/ui-swiper-next.png);}
.ui-swiper .disabled{opacity:0.3;}